.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.ts {
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.section-follow .fa-4x {
    margin: 5px 10px;
}